<!-- templates/about.html -->
{% extends '_base.html' %}
{% block title %}About{% endblock title %}
{% load i18n%}
{% block content %}
    <div class="jumbotron">
        <h1>{% trans "About Page"%}</h1>
            <p class="lead">You can sell your products here and you will not be disappointed</p>
            <hr class="my-4">
            <p>Register and sell your  all craps here!</p>
             <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'auctions_list' %}" role="button">Learn more</a>
  </p>
    </div>
{% endblock content %}

